
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
}

.navbar {
    background-color: #7A0BC0;
    
}

.navbar .navbar-brand, .navbar-nav .nav-link {
    color: #000000 !important;
}

.navbar .navbar-nav .nav-link:hover {
    color: #FFD700 !important;
}

.hero-section {
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-section h1 {
    font-size: 3rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hero-section .btn-primary {
    background-color: #FFD700;
    border: none;
    transition: background-color 0.3s ease;
}

.hero-section .btn-primary:hover {
    background-color: #FFC300;
}

.container-about {
    padding: 60px 0;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-about h2 {
    font-size: 2.5rem;
    color: #7A0BC0;
    margin-bottom: 20px;
}

.container-about p {
    font-size: 1.1rem;
    color: #666;
}

.container-about p::first-letter {
    font-size: 1.5rem;
    color: #7A0BC0;
}

#contact h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 30px;
}

#contact iframe {
    border-radius: 10px;
    border: 2px solid #7A0BC0;
}


.kontak-wa {
    background-color: #25D366;
    transition: background-color 0.3s ease;
}

.kontak-wa:hover {
    background-color: #20B358;
}

.kontak-wa img {
    margin-right: 10px;
}


footer {
    background-color: #000000;
    color: #ffffff;
    padding: 50px;
    font-size: 0.9rem;
}

footer p {
    margin: 0;
}


.btn-primary, .btn-lg {
    border-radius: 30px;
}

.btn-primary:hover {
    background-color: #FFC300;
}


@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 2.5rem;
    }

    .btn-lg {
        font-size: 1rem;
        padding: 10px 20px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 1.5s ease forwards;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in-left {
    animation: slideInLeft 1s ease forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-up {
    animation: fadeUp 1s ease forwards;
}

.animated-text {
    font-size: 24px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}




